# Pandas commands ending with parentheses and those that do not

In [1]:
import pandas as pd

In [6]:
url = 'http://bit.ly/imdbratings'
movies = pd.read_csv(url)

In [7]:
movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [4]:
 # DataFrame.describe(argument) method wiil show descriptive statistics of numeric columns.
movies.describe()

       star_rating    duration
count   979.000000  979.000000
mean      7.889785  120.979571
std       0.336069   26.218010
min       7.400000   64.000000
25%       7.600000  102.000000
50%       7.800000  117.000000
75%       8.100000  134.000000
max       9.300000  242.000000

In [5]:
# start_rating type is float64
movies.describe(include=['float64'])

       star_rating
count   979.000000
mean      7.889785
std       0.336069
min       7.400000
25%       7.600000
50%       7.800000
75%       8.100000
max       9.300000

In [8]:
# DataFrame.shape  is  attribute, 
# it tells the number of rows and columns of a given DataFrame.
movies.shape

(979, 6)

In [10]:
# DataFrame.dtypes  is  attribute . 
# we use it to Find our data types of each columns
movies.dtypes

star_rating       float64
title              object
content_rating     object
genre              object
duration            int64
actors_list        object
dtype: object

In [11]:
type(movies)

pandas.core.frame.DataFrame

#  Attributes and Functions of a data frame.

* Attribute :Without parentheses
    * Description_oriented
        * movies.shape
        * movies.dtypes

* Method :With parentheses
    * Action_oriented
        * movies.head()
        * movies.describe()

### Bonus Tips( Jupyter notebook Only): How to learn more about  the function's argument, click anywhere inside the parantheses 
* 1x for a pop-up
* 2x for a larger pop-up
* 4x for a split-screen